@media (min-width: 500px) {
    
    
header {
    background-color: black;
    color: white;
}
    main {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 equal columns */
        gap: 1rem;
    }

    aside, section {
        background: #f4f4f4;
        padding: 20px;
    }
}