
    
body {
    color: #f5f749;
    font-family: Arial sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    background-image: url(/chamber/hero.png);
    background-position: center; }


/* Base styles for navigation menu */
.nav-menu {
    display: none; /* Hidden by default on mobile */
}


.nav-menu li {
    display: block;
}

.nav-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f24236;
}

h1 {
    margin: 40px;
    color: #f24236;
}

/* Styles for mobile screens */
@media (max-width: 767px) {
    .hamburger {
        display: block; /* Show hamburger button on mobile */
        font-size: 30px;
        cursor: pointer;
    }
}

 /* Sidebar Layout with CSS Grid */
 main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

/* Sidebar styling */
.sidebar {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}

/* Make the layout single column on mobile */
@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}

/* Image hover effect */
.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Lazy loading images */
.gallery img[data-src] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery img.lazyloaded {
    opacity: 1;
}

figure {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

figcaption {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    font-weight: bold;
}

